@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: rgb(52, 175, 203, 0.1);
}

body {
    background-color: #0b040c;
    color: white;
    font-family: Poppins, sans-serif;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: clash;
  src: url("/fonts/clash/ClashDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: clashBold;
  src: url("/fonts/clash/ClashDisplay-Semibold.otf") format("opentype");
}

.my_fixed_width {
    width: 83%;
    max-width: 1200px;
}

.gradientText {
  overflow: hidden;
  background: linear-gradient(76deg,
      #fde1ff,
      #e0e7ff,
      #e0f9ff,
      #fffae9,
      #e8eaff,
      #ffe3f7,
      #daf1ff,
      #fde1ff,
      #e0e7ff,
      #e0f9ff,
      #fffae9,
      #e8eaff,
      #ffe3f7,
      #daf1ff,
      #fde1ff,
      #e0e7ff,
      #e0f9ff,
      #fffae9,
      #e8eaff,
      #ffe3f7,
      #daf1ff);
  background-size: 500% 500%;
  -webkit-animation: slime 45s ease infinite;
  animation: slime 45s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
}


.gradientText h1 {
  @apply font-semibold text-[34px] leading-[36.9px] text-[#CFFAFF] md:leading-[45px] md:text-[35px] md:max-w-max lg:leading-[73.8px] lg:max-w-[580px] lg:text-[60px];
  font-family: clashBold;
  color: rgba(255, 255, 255, 0);
  text-transform: capitalize;

}

.gradientText h2 {
  color: rgba(255, 255, 255, 0);
  text-transform: capitalize;
  font-family: clash;
  @apply flex items-center font-semibold text-white text-[20px] leading-[30.75px] lg:text-[60px] lg:leading-[73.8px];
}

@keyframes colorChange {
    0% {
        background: linear-gradient(to right, #fcfae9, #dfe9fe);
        -webkit-background-clip: text;
        color: transparent;
    }
    50% {
        background: linear-gradient(to right, #dfe9fe, #dfe9fe);
        -webkit-background-clip: text;
        color: transparent;
    }
    100% {
        background: linear-gradient(to right, #dfe9fe, #fcfae9);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.avatar_container {
    position: relative;
    border: 2px solid #34afcb;
    margin: 35px 0;
}

.avatar_pic {
    width: 280px;
    border: none;
    position: relative;
    top: -10px;
    left: -10px;
}

.block_left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, rgba(76, 90, 93, 0.1), #4c5a5d);
}
.block_left::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(76, 90, 93, 0.1), #4c5a5d);
}

.block_right {
    position: relative;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.block_right::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, rgba(76, 90, 93, 0.1), #4c5a5d);
}

.block_right::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(76, 90, 93, 0.1), #4c5a5d);
}

.name{
    position: relative;
    color: green;
}

.name::before{
    content: "";
    background-color: purple;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    padding: 1px;
}
